* {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-img {
    width: 100%;
}

.login-right-side {
    display: block
}

.login-create-side {
    display: none
}

.login-input {
    font-size: 14px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #696969;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
}

.login-input:focus {
    outline: none;
}

.login-right-side i.fas, .login-create-side i.fas {
    color: #000;
    width: 26px;
    height: 26px;
    line-height: 70px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
}

.login-create-side i.fas:first-child, .login-right-side i.fas:first-child {
    line-height: 30px!important;
}

.login-right-side i.fas+input, .login-create-side i.fas+input {
    padding-left: 30px;
}

.login-remember {
    margin: 25px 0px 25px 0px;
}

.login-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

#login-btn {
    color: #fff;
    background: rgb(62, 138, 185);
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
    width: 120px;
    cursor: pointer;
}

#login-btn:hover {
    background: rgb(26, 111, 163)
}

#login-create-btn {
    margin-top: 10px;
    color: #fff;
    background: #5fb053;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
    width: 100%;
    cursor: pointer;
}

#login-create-btn:hover {
    background: #4a9b3d
}

#back-to-login {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    float: right;
}

#back-to-login:hover {
    color: #007bff;
}

.create-login-fail::-webkit-input-placeholder {
    color: red;
}

.login-sub-menu {
    margin-top: 30px;
}

.sub-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-acc {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #000000;
}

.create-acc:hover {
    color: #007bff;
}

.create-acc:focus {
    outline: none;
}

.social-icons a {
    color: #000000;
    font-size: 28px;
    margin-left: 5px;
}

.fa-facebook-square:hover {
    color: #4267B2;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

.fa-google-plus-square:hover {
    color: #d34836;
}

.incorrent-login {
    font-size: 14px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

.incorrent-login p {
    margin: 0;
}

.incorrent-login span:hover {
    cursor: pointer;
    color: #000000;
}